nav {
  background-color: #653e77;
  border-radius: 0;
}

li > a, .navbar-brand {
  color: #f0f8ff;
}

li > a:hover, li > a:focus {
  background-color: #b989d0;
}

.icon-bar {
  background-color: #f0f8ff;
}
